@{
    ViewData["Title"] = "طريقة دفع جديدة";
}


<div class="container mt-5">
    <h3>إضافة طريقة دفع جديدة</h3>
   
    <form id="createPaymentMethodForm" class="mt-3 border rounded p-3 "   >
        <div class="mb-3">
            <label for="PaymentType" class="form-label">نوع طريقة الدفع</label>
            <input type="text" class="form-control fs-4" id="PaymentType" name="PaymentType" required>   
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">وصف طريقة الدفع</label>
            <input type="text" class="form-control fs-4" id="Description" name="Description" required>   
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-success fs-4">حفظ طريقة الدفع</button>
            <a href="@Url.Action("Index", "PaymentMethods")" class="btn btn-secondary fs-4">إلغاء</a>
        </div>
    </form>    

</div>
@section scripts {
    <script src="~/JS/PaymentMethods.js"></script>
}