@{
    ViewData["Title"] = "منتج جديد";
}


<div class="container mt-5">
    <h3>إضافة منتج جديد</h3>
   
    <form id="createProductForm" class="mt-3 border rounded p-3 "   >
        <div class="mb-3">
            <label for="Barcode" class="form-label">الباركود</label>
            <input type="text" class="form-control fs-4" id="Barcode" name="Barcode" required>
        </div>
        <div class="mb-3">
            <label for="ProductName" class="form-label">اسم المنتج</label>
            <input type="text" class="form-control fs-4" id="ProductName" name="ProductName" required>   
        </div>
        <div class="mb-3">
            <label for="cost" class="form-label">التكلفة</label>
            <input type="text" class="form-control fs-4" id="cost" name="Cost" required>   
        </div>
         <div class="mb-3">
            <label for="price" class="form-label">السعر</label>
            <input type="text" class="form-control fs-4" id="price" name="Price" required>   
        </div>
        <div class="mb-3">
            <label for="stockQuantity" class="form-label">الكمية المتوفرة</label>
            <input type="text" class="form-control fs-4" id="quantity" name="Quantity" required>   
        </div>
        <div class="mb-3">
            <label for="categorySelect" class="form-label">التصنيف</label>
            <select class="form-select fs-4" id="categorySelect" name="categorySelect" required>
                <option value="">اختر تصنيف المنتج</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="taxiesSelect" class="form-label">الضريبة</label>
            <select class="form-select fs-4" id="taxiesSelect" name="taxiesSelect" required>
                <option value="">اختر نوع الضريبة</option>
            </select>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="mainUnit" class="form-label">الوحدة الكبرى</label>
                <select class="form-select fs-4" id="mainUnit" name="MainUnitId" required>
                    <option value="">اختر الوحدة الكبرى</option>
                </select>
            </div>

            <div class="col-md-4">
                <label for="subUnit" class="form-label">الوحدة الصغرى</label>
                <select class="form-select fs-4" id="subUnit" name="SubUnitId" required>
                    <option value="">اختر الوحدة الصغرى</option>
                </select>
            </div>

            <div class="col-md-4">
                <label for="conversionFactor" class="form-label">معامل التحويل</label>
                <input type="number" class="form-control fs-4" id="conversionFactor" name="ConversionFactor" placeholder="مثلاً: 12" required>
            </div>
        </div>
        <div class="mb-3">
            <label for="supplierSelect" class="form-label">المورد</label>
            <select class="form-select fs-4" id="supplierSelect" name="supplierSelect" required>
                <option value="">اختر مورد المنتج</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="ProductReorderLevel" class="form-label">مستوى إعادة الطلب</label>
            <input type="number" class="form-control fs-4" id="ProductReorderLevel" name="ProductReorderLevel" placeholder="مثلاً: 10" required>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-success fs-4">حفظ المنتج</button>
            <a href="@Url.Action("Index", "Products")" class="btn btn-secondary fs-4">إلغاء</a>
        </div>
    </form>    

</div>
@section scripts {
    <script src="~/JS/apiService.js"></script>
    <script src="~/JS/products.js"></script>
}